body, html {
    margin: 0;
    padding: 0;
}



.awesome {
    font-family: Roboto, sans-serif;
    background: #1f2937;
}

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    /* outline: 3px solid pink; */
}

.logo {
    font-weight: 700;
    color: #f2f3f3;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;

  }

  a {
    text-decoration: none;
    color: #bfc3c9;
  }

.left,
.right {
    display:flex;

    margin-bottom: 20px;
}

.left {
    margin-left: 250px;
}

.right {
    margin-right: 250px;
}

.title {
    color: #f2f3f3;
    font-weight: 700;
}

.subtext {
    color: #bfc3c9;
}

button {
    cursor: pointer;
    padding: 8px 24px;
    border-radius: 8px;
}

button,
.button{
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    font-weight: 700;
}
